<div class="grid">
        <!--header-->
        <header class="container-grid-header" style="background:#3E989B;">
                <p>header</p>
        </header>

        <!--Side bar-->
        <div class="container-grid side-bar" style="background:#6DB465;">
                <p>side-bar</p>
        </div>

        <!-- Main-content -->
        <main class="container-grid" style="background: #F2C14E;">
                <div class="title">
                        <h2>Tabla de la vista</h2>
                </div>
                <div class="content">
                        <app-table      [dataTable]="list"
                                        [columnsTable]="columns">
                        </app-table>
                </div>
        </main>

        <!--Footer-->
        <footer class="container-grid" style="background: #C87694;">
                <p>footer</p>
        </footer>
</div>